@model IEnumerable<StudentDetails.Models.tblStudentInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Course.Course)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentDept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Course.Course)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
